.header-main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba($black, 0.7);
  z-index: 10;

  .logo-wrap {
    padding: 15px 0;

    a {
      display: inline-block;
      text-decoration: none;
    }
  }

  .navigation {
    padding: 20px 0;
    position: relative;
    text-align: right;

    .mobile-menu {
      display: inline-block;
      padding: 6px;
      color: $white;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $brand-primary;
      }

      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    .navigation-list {
      margin: 0;
      padding: 0 90px 0 0;
      font-size: 0;
      list-style-type: none;

      &.mobile-menu-shown {
        @media screen and (max-width: 992px) {
          transform: scale(1);
        }
      }

      @media screen and (max-width: 992px) {
        padding: 10px 20px;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #353535;
        transition: transform 0.5s ease;
        transform: scale(0);
        transform-origin: 100% 0;
      }

      .navigation-item {
        display: inline-block;
        padding: 0 10px;
        position: relative;
        cursor: pointer;

        .hLine {
          text-decoration: underline;
        }

        @media screen and (max-width: 992px) {
          display: block;
          text-align: center;
        }

        &:last-child {
          &:before {
            content: none;
          }

          @media screen and (max-width: 992px) {
            a {
              margin-bottom: 0;
            }
          }
        }

        &::before {
          display: inline-block;
          width: 1px;
          height: 12px;
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          background-color: #222c21;
          transform: translateY(-50%);

          @media screen and (max-width: 992px) {
            content: none;
          }
        }

        a {
          display: inline-block;
          padding: 6px 10px;
          font-size: 16px;
          color: $brand-primary;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $brand-primary-accent;
          }

          @media screen and (max-width: 992px) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .social-wrap {
    position: relative;
    padding: 20px 0;

    &::before {
      display: inline-block;
      width: 1px;
      height: 12px;
      content: "";
      position: absolute;
      top: 50%;
      left: -10px;
      background-color: #222c21;
      transform: translateY(-50%);
    }

    a {
      display: inline-block;
      padding: 6px 10px;
      color: $white;
      text-decoration: none;
    }
  }
}
