$white: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);

$brand-primary: #fab819;
$brand-primary-accent: darken(#fab819, 15%);

$sky-blue: rgb(224,255,255);
$calc-title-color: rgb(100, 149, 237);
$calc-button-background: rgb(148, 0, 211);
$violet: rgb(238, 130, 238);